// intermediate
*.o
log.html
HelloWorld
demo/ProlandDemo

// scons
*.dblite

// creator project
*.creator
*.creator.user
*.creator.user.*
*.files
*.config

// system
*.directory

// doc
doc/html/
output/doc/
doxygen.log
